<!DOCTYPE html>
<html>
  <head>
    <title>oneVoca</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
  </head>
  <body>
    <header>
        개인페이지 헤더
    </header>

    <div id="wrapper">
        <nav>
            <div>
                <button type="button" class="btn btn-outline-primary" id="addFolderBtn">add folder</button>
            </div>
            <div class="list-group" id="folder">
              <!-- 사용자가 가진 폴더의 수만큼 반복한다 -->
              <% for(let i = 0; i < folderRows.length; i++) { %>
                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#folder<%=folderRows[i].folder_id%>" aria-expanded="false" aria-controls="collapseWidthExample">
                    <%=folderRows[i].folder_name%>
                  </button>
                </p>
              <% } %>
            </div>

        </nav>

        <section>
            <div>section</div>
            <% for(let i = 0; i < folderRows.length; i++) { %>
              <div class="collapse collapse-horizontal" id="folder<%=folderRows[i].folder_id%>">
                <div class="card card-body" style="width: 60vw;">
                  <% for(let j = 0; j < titleRowsResult[i].length; j++) { %>
                    <p>
                      <p></p>
                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=titleRowsResult[i][j].title_id%>" aria-expanded="false" aria-controls="collapseExample">
                        <%=titleRowsResult[i][j].title_name%>
                      </button>
                    </p>
                    <div class="collapse" id="collapse<%=titleRowsResult[i][j].title_id%>">
                      <div class="card card-body">
                          <% for(let k = 0; k < wordRowsResult[j].length; k++) { %>
                            <p class="word">
                              <%= wordRowsResult[j][k].word%>
                            </p>

                              <% for(let l = 0; l < wordRowsResult[j][k].result.meanings.length; l++) { %>
                                <p class="partOfSpeech">
                                  <%= wordRowsResult[j][k].result.meanings[l].partOfSpeech%>
                                </p>

                                <!-- 만약 한 품사에 뜻이 3개 이상이면 최대 뜻 개수를 3개로 정한다 -->
                                <% let defLens; %>
                                <% if(wordRowsResult[j][k].result.meanings[l].definitions.length > 3) { %>
                                  <% defLens = 3 %>
                                <% } else { %>
                                  <% defLens = wordRowsResult[j][k].result.meanings[l].definitions.length %>
                                <% } %> 

                                <ol>
                                  <% for(let m = 0; m < defLens; m++) { %>
                                    <li class="definition">
                                      <%= wordRowsResult[j][k].result.meanings[l].definitions[m].definition%>
                                    </li>
                                    <ul>
                                      <% if(wordRowsResult[j][k].result.meanings[l].definitions[m].example != undefined) { %>
                                        <li class="example">
                                          <%= wordRowsResult[j][k].result.meanings[l].definitions[m].example%>
                                        </li>
                                      <% } %>
                                    </ul>
                                  <% } %>
                                </ol>
                              <% } %>
                          <% } %>

                      </div>
                    </div>
                  <% } %>   

                </div>
              </div>
            <% } %>

        </section>

        <aside>
            <div>aside</div>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
            </ol>
        </aside>
    </div>
    
    
    <script defer type="module" src="/javascripts/usersPage.js"></script>
    <!-- cdn 링크로 jsPDF 사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- 부트스트랩 드롭다운 쓰려면 popper 를 포함하고있는 bootstrap.bundle.min.js 를 포함시켜줘야한다 -->
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
