<!DOCTYPE html>
<html>
  <head>
    <title>oneVoca</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
  </head>
  <body>
    <header>
      <button type="button" class="logo-btn" onclick="location.href='/'">
        one__voca
      </button>

      <!-- 사용자 계정 관련 부분 -->
        <div id="account-div">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-circle-user"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login/logout">logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li id="withdrawal-li"><a class="dropdown-item">withdrawal</a></li>
            </ul>
          </div>
        </div>

      <!-- hideDef, hideEx 스위치 부분 -->
      <div id="switch-wrapper">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="hideDefSwitch">
            <label class="form-check-label" for="hideDefSwitch">hideDef</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="hideExSwitch">
            <label class="form-check-label" for="hideExSwitch">hideEx</label>
        </div>
      </div>

    </header>

    <div id="wrapper">
        <nav>
            <div id="modal-div">
                <!-- 폴더 추가 모달창을 띄우는 버튼-->
                <button id="add-folder-btn" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <!-- <i class="fa-solid fa-plus"></i> -->
                  <i class="fa-solid fa-folder-plus"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">폴더 제목을 입력하세요</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <!-- 사용자가 생성한 폴더를 데이터베이스에 저장하기 위한 form -->
                      <form action="/store-folder" method="post" id="folderForm">
                        <div class="modal-body">
                          <div class="input-group input-group-lg">
                            <input type="text" class="form-control" id="folderNameInput" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="folderName">
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="folderSubmitBtn">Save</button>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>

            </div>

            <div class="list-group folder-list-group" id="folder">
              <!-- 사용자 폴더 출력 부분 -->
              <!-- 사용자가 가진 폴더의 수만큼 반복한다 -->
              <% for(let i = 0; i < folderRows.length; i++) { %>
                <% if(i == 0) { %>
                  <p>
                    <button id="normal-folder" class="btn btn-info folder-btn" type="button" data-bs-toggle="collapse" data-bs-target="#folder<%=folderRows[i].folder_id%>" aria-expanded="false" aria-controls="collapseWidthExample">
                      <%=folderRows[i].folder_name%>
                    </button>
                  </p>
                <% } else { %>
                   
                  <p>
                  <div class="btn-group">
                    <button class="btn btn-info folder-btn" type="button" data-bs-toggle="collapse" data-bs-target="#folder<%=folderRows[i].folder_id%>" aria-expanded="false" aria-controls="collapseWidthExample">
                      <%=folderRows[i].folder_name%>
                    </button>
                    <button type="button" class="btn btn-sm btn-info  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item delete-folder-btn" href="#" data-bs-target="#<%=folderRows[i].folder_id%>">Delete</a></li>
                    </ul>
                  </div>
                  </p>
                  

                <% } %>
              <% } %>
            </div>

        </nav>

        <!-- 사용자 폴더에 있는 title 출력 부분 -->
        <aside>
          <% for(let i = 0; i < folderRows.length; i++) { %>
            <div class="collapse collapse-horizontal" id="folder<%=folderRows[i].folder_id%>">
              <div class="card card-body title-collapse" style="width: 20vw;">
                <% for(let j = 0; j < titleRowsResult[i].length; j++) { %>
                    <p>
                      <p></p>

                      <div class="btn-group">
                        <button class="btn btn-primary title-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#title<%=titleRowsResult[i][j].title_id%>" aria-expanded="false" aria-controls="collapseExample">
                          <%=titleRowsResult[i][j].title_name%>
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item delete-title-btn" href="#" data-bs-target="#<%=titleRowsResult[i][j].title_id%>">Delete</a></li>
                        </ul>
                      </div>

                    </p>
                <% } %>

              </div>

            </div>

          <% } %>
        </aside>

        <!-- 사용자 title에 있는 단어 검색 결과를 보여주는 부분 -->
        <section>
            <% for(let i = 0; i < folderRows.length; i++) { %>
              <div class="collapse collapse-horizontal" id="folder<%=folderRows[i].folder_id%>">
                <div class="card card-body word-div" style="width: 50vw;">
                  <% for(let j = 0; j < titleRowsResult[i].length; j++) { %>
                    <div class="collapse word-collapse" id="title<%=titleRowsResult[i][j].title_id%>">
                      <div class="card card-body">


                            <% for(let k = 0; k < wordRowsResult.length; k++) { %>

                              <% for(let m = 0; m < wordRowsResult[k].length; m++) { %>

                                <% if(titleRowsResult[i][j].title_id == wordRowsResult[k][m].title_id) { %>

                                  <h4 class="word" id="list-item-<%= wordRowsResult[k][m].word_id %>">
                                    <%= wordRowsResult[k][m].word%>
                                  </h4>
                                
                                  <% for(let l = 0; l < wordRowsResult[k][m].result.meanings.length; l++) { %>
                                    <p class="partOfSpeech">
                                      <%= wordRowsResult[k][m].result.meanings[l].partOfSpeech%>
                                    </p>

                                    <!-- 만약 한 품사에 뜻이 3개 이상이면 최대 뜻 개수를 3개로 정한다 -->
                                    <% let defLens; %>
                                    <% if(wordRowsResult[k][m].result.meanings[l].definitions.length > 3) { %>
                                      <% defLens = 3 %>
                                    <% } else { %>
                                      <% defLens = wordRowsResult[k][m].result.meanings[l].definitions.length %>
                                    <% } %> 

                                    <ol>
                                      <% for(let n = 0; n < defLens; n++) { %>
                                        <li class="definition">
                                          <%= wordRowsResult[k][m].result.meanings[l].definitions[n].definition%>
                                        </li>
                                        <ul>
                                          <% if(wordRowsResult[k][m].result.meanings[l].definitions[n].example != undefined) { %>
                                            <li class="example">
                                              <%= wordRowsResult[k][m].result.meanings[l].definitions[n].example%>
                                            </li>
                                          <% } %>
                                        </ul>
                                      <% } %>
                                    </ol>
                                  <% } %>

                                <% } %>

                              <% } %>

                            <% } %>


                      </div>
                    </div>
                  <% } %>   

                </div>
              </div>
            <% } %>
         
        </section>

        <!-- 한 폴더 내에서 자주 검색된 단어를 출력하는 부분 -->
        <aside>
            <% for(let i = 0; i < folderRows.length; i ++) { %>
              <div class="collapse collapse-horizontal" id="folder<%=folderRows[i].folder_id%>">
                <div class="card card-body" style="width: 20vw;">
                  <p>자주 검색한 단어</p>
                  <ol class="list-group list-group-numbered">
                    <% let dupLen; %>
                    <% if(dupWords[i].length < 10) { %>
                      <% dupLen = dupWords[i].length %>
                    <% } else { %>
                      <% dupLen = 10 %>
                    <% } %>

                    <% for(let j = 0; j < dupLen; j++) { %>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold"><%= dupWords[i][j].word %></div>
                        </div>
                        <span class="badge bg-primary rounded-pill"><%= dupWords[i][j].count %></span>
                      </li>
                    <% } %>

                  </ol> 
                </div>
              </div>
            
            <% } %>
            
        </aside>
    </div>
    
    <script src="https://kit.fontawesome.com/de36200da7.js" crossorigin="anonymous"></script> 
    <script defer type="module" src="/javascripts/usersPage.js"></script>
    <!-- cdn 링크로 jsPDF 사용 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- 부트스트랩 드롭다운 쓰려면 popper 를 포함하고있는 bootstrap.bundle.min.js 를 포함시켜줘야한다 -->
    <script defer src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
